@font-face
  font-family: 'fontello'
  src: url("../font/fontello.eot")
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"]:before,
[class*=" icon-"]:before
  font-family: 'fontello'
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  text-align: center
  line-height: 1em

.icon-mail:before
  content: '\2709' // '✉'
.icon-tags:before
  content: '\e70d' // ''
