@font-face
  font-family: 'LatoRegular'
  src: url('../font/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),url('../font/lato-reg-webfont.woff') format('woff'),url('../font/lato-reg-webfont.ttf') format('truetype'),url('../font/lato-reg-webfont.svg#lato') format('svg')
  font-weight: normal
  font-style: normal

