h1, h2, h3, h4, h5, h6
  font-family: LatoRegular, $baseFontFamily
  font-weight: normal

header, footer
  margin: 30px 0

header
  padding-bottom: 15px
  border-bottom: 1px solid $grayLighter;

footer
  padding-top: 15px
  border-top: 1px solid $grayLighter;

#title
  font-size: $baseFontSize * 4
  text-transform: uppercase
  letter-spacing: 2px
  a
    color: $grayDarker

#projects
  list-style-type: none
  margin: 30px 0 0
  overflow: hidden
  padding: 0

#projects a
  color: inherit

#projects .project
  background-color: $grayLighter
  margin-bottom: 20px
  min-height: 305px
  $box-shadow(1px 1px 1px rgba(0,0,0,.2))

#projects .project:hover
  background-color: darken($grayLighter, 4%)

#projects .project img
  max-width: 240px
  padding: 20px 20px 0

#projects .project p
  padding: 20px 20px 10px

